aiohttp>=3.12.14
cqt-nsgt-pytorch==0.0.10
cqt-pytorch==0.0.5
# descript-audio-codec==1.0.0
einops==0.8.0
ffmpeg==1.4
fqdn==1.5.1
hydra-optuna-sweeper==1.2.0
h5py==3.11.0
hydra-submitit-launcher==1.2.0
hydra-core==1.3.2
ipympl==0.9.4
ipywidgets==8.1.2
isoduration==20.11.0
jsonpointer==2.4
jupyter==1.0.0
jupyterlab==4.2.5
librosa==0.10.2.post1
lightning==2.3.3
lightning-utilities==0.11.2
line-profiler==4.1.3
matplotlib==3.9.0
ninja==1.11.1.1
numpy==1.26.4
onnxruntime-gpu==1.18.0
omegaconf==2.3.0
pandas==2.0.3
paramiko==3.4.0
pesq==0.0.4
pip-chill==1.0.3
positional-encodings==6.0.3
pyarrow==16.1.0
pyroomacoustics==0.7.4
# git+https://github.com/cobalamin/pysepm.git@defc47219af705a7052d382717f9b34072e8fcc4#egg=pysepm
pystoi==0.4.1
pytorch-lightning
schedulefree==1.2.7
scikit-learn==1.5.0
scipy==1.12.0
sdeint==0.3.0
seaborn==0.13.2
sox==1.5.0
speechmos==0.0.1.1
tensorboard==2.16.2
tinydb==4.8.0
torch
# torch-pesq -- we use this fork since it removes some outdated type annotations that error out
# git+https://github.com/cobalamin/torch-pesq.git@6f7a2889d08ed4f4b56e0a94532631323a2bb86a#egg=torch-pesq
torchaudio
torchcde==0.2.5
# git+https://github.com/atong01/conditional-flow-matching.git@ec4da0846ddaf77e8406ad2fd592a6f0404ce5ae#egg=torchcfm
torchdiffeq==0.2.3
torchdyn==1.0.6
torchcfm==1.0.6
torchinfo==1.8.0
torchmetrics==1.4.0.post0
torchode==0.2.0
torchsde==0.2.6
torchvision==0.18.0
tqdm==4.66.4
uri-template==1.3.0
# visqol package. uncommented by default as it is rather difficult to install!
#-e git+https://github.com/google/visqol.git@b2b2a64dd8bf1378f9aa1119cc7b36a8bcda3757#egg=visqol
wandb==0.17.0
webcolors==1.13